  div {
    background-color: darkgrey;
    color: black;
    display: block;
    width: 200px;
    height: 120px;
    overflow: auto;
    padding: 10px;
    border: solid 2px blue;
    margin: 15px;
    box-sizing: border-box;
  }
  .test {
    background-color: yellow;
  }
  #A{
    background-color: aqua;
  }
  #B{
    background-color: greenyellow;
    position: absolute;
    top: 0px;
    left: 0px;
    
  }
  #C{
      background-color: blueviolet;

  }

  .imgg{
      width: 200px;
      height: 200px;
      border: 5px solid black; 
      margin-top: 10px;
     }