  div {
    background-color: darkgrey;
    color: black;
    display: block;
    width: 200px;
    height: 120px;
  }
  .test {
    background-color: yellow;
  }
  #A{
    background-color: aqua;
  }
  #B{
    background-color: greenyellow;
  }

  .imgg{
      width: 200px;
      height: 200px;
      border: 5px solid black; 
      margin-top: 10px;
     }